.pager {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.pager button {
    border: none;
    display: inline-block;
    padding: 10px;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    font-size: 14px;
    cursor: default;
}

.pager button:hover {
    background-color: rgb(168, 168, 168);
}

.current button, .current button:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}