.checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.checkoutContainer .title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons button {
    padding: 15px;
    color: white;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

button.return {
    background-color: rgb(0, 139, 139);
}

button.return:hover {
    background-color: rgb(0, 89, 89);
}

button.confirm {
    background-color: rgb(255, 119, 56);
}

button.confirm:hover {
    background-color: rgb(180, 57, 0);
}

.tableContainer, .orderDetails {
    width: 60%;
    margin-bottom: 20px;
}

.orderDetails {
    margin-top: 40px;
}