.logoutComponent {
    color: white;
    display: flex;
    align-items: center;
}

.logoutComponent > span {
    margin-right: 20px;
}

.logoutComponent > button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.logoutComponent > button:hover {
    background-color: darkgreen;
}